# Ambiente virtual
djangoenv/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Banco local
db.sqlite3
*.sqlite3

# Variáveis de ambiente
.env
.env.*

# Static files coletados pelo collectstatic
/static/
staticfiles/

# Logs e arquivos temporários
*.log
*.tmp
*.bak

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Banco SQLite
# Em projeto profissional, normalmente ignoramos o banco local.
# Para este lab,  comentaremos esta linha se quisermos versionar os dados do curso.
# db.sqlite3
